body{
  background-image: url(/public/img/neko-anime-girl-and-cats-thumb-364x205.jpg);
}

h1{
  font-family: 'Times New Roman', Times, serif;
  color: darkorange;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 2px;
  font-size: 100px;
  text-align: center;
  font-style: italic;
}

