{{#each Productos}}
  <div style="width: 22pc; height: 25pc; background-color: rgba(247, 192, 91, 0.818); border-style: solid; border-color: black;" class="card">
  <img style="width: 20pc; margin-left: 16px; margin-top: 10px; border-style: solid; border-color: black;" src="{{foto}}" alt={{nombre}}>
    <p style="font-family:Arial, Helvetica, sans-serif; text-align: center; margin-bottom: 0%;"><strong>{{descripcion}}</strong></p>
   
    <button>´{{precio}}</button>
    </div>

{{/each}}